body {background-image: url("images/Animated-background.gif");background-size: cover;}
h1 {color:white; font-family:Courier; font-size: 300%;}
p {color:white; font-family:Courier; font-size: 250%;}
a {color:white; font-family:Courier; font-size: 200%;}
